@font-face {
    font-family: jeJu;
    src: url(/Assets/jeju.ttf);
}

:root {
    --quadPurple: #8B9CD8;
    --quadGray: #A8A8A8;
}

html,
body {
    font-family: jeJu;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
}

.quadgalactic {
    position: absolute;
    top: 10px;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    transition: all 3s;
    height: 20px;
}

.globe-big {
    display: block;
    position: absolute;
    rotate: 225deg;
    width: 1600px;
    top: -100px;
    left: -500px;
    right: none;
    opacity: 0;
    filter: blur(10px);
    transition: all 2s ease;
    pointer-events:none
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.headerText {
    text-align: center;
    font-size: 25px;
}

.globe-small {
    margin-top: 30px;
    height: 120px;
    rotate: 45deg;
}

.input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    font-size: 15px;
    opacity: 1;
}

input {
    padding: 15px;
    border-radius: 5px;
    border: solid var(--quadGray) 2px;
    color: black;

}

button {
    width: 70vw;
    background-color: var(--quadPurple);
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

.initiateButton {
    font-size: 30px;
}

.terms {
    text-align: center;
    margin-top: -10px;
    font-size: 9px;
    color: var(--quadGray);
    width: 90vw;
}


@media only screen and (max-height: 844px) {
    .quadgalactic {
        opacity: 0;
    }
}

@media only screen and (min-width: 900px) {
    .quadgalactic {
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 1;
        transform: translateX(0%);
    }

    .globe-big {
        display: block;
        position: absolute;
        rotate: 45deg;
        width: 1600px;
        height: auto;
        top: -100px;
        left: -500px;
        right: none;
        opacity: 0.1;
        filter: blur(0px);
        transition: all 2s ease;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .right_side {
        padding: 0;
        margin: 0;
        width: 560px;
        position: absolute;
        right: 200px;
    }

    .input {
        width: 560px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        opacity: 1;
    }

    input {
        padding: 15px;
        border-radius: 5px;
        border: solid var(--quadGray) 2px;
        color: black;

    }

    button {
        width: 560px;
        background-color: var(--quadPurple);
        padding: 15px;
        border-radius: 5px;
        border: none;
        color: white;
    }

    .initiateButton {
        border: solid white 2px;
    }
}
