.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title{
    text-align: center;
}

.globe-small{
    height: 100px;
    rotate: 45deg;
}